.demo-post-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  width: 561px;
  height: 560px;
}
.profile-icon2 {
  position: absolute;
  top: 23px;
  left: 20px;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  object-fit: cover;
}
.username2 {
  margin: 0;
  position: absolute;
  top: 23px;
  left: 120px;
  font-weight: 600;
  cursor: default;
}
.connect-btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 100px;
  height: 33px;
}
.connect {
  position: absolute;
  top: 6px;
  left: 20px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-mulish);
  color: var(--color-white);
  text-align: left;
}
.connect-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 62px;
  left: 127px;
  width: 100px;
  height: 33px;
}
.demo-post-item {
  position: absolute;
  top: 130px;
  left: 20px;
  border-radius: var(--br-3xs);
  width: 514px;
  height: 368px;
  object-fit: cover;
}
.vuesaxboldheart-circle-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.heart-circle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.vector-icon6 {
  position: absolute;
  height: 75%;
  width: 58.33%;
  top: 12.33%;
  right: 20.67%;
  bottom: 12.67%;
  left: 21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bookmark-fill1-wght400-grad0-o {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 482px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 83.33%;
  width: 83.39%;
  top: 8.33%;
  right: 8.31%;
  bottom: 8.33%;
  left: 8.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8 {
  height: 46%;
  width: 45.85%;
  bottom: 45.67%;
  left: 45.85%;
}
.send,
.vuesaxboldmessage-text {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}
.send {
  height: 88.24%;
  width: 5.88%;
  top: 11.76%;
  right: 77.52%;
  left: 16.6%;
  overflow: hidden;
}
.vuesaxboldmessage-text {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.message-text {
  position: absolute;
  top: 0;
  left: 46px;
  width: 30px;
  height: 30px;
}
.icons,
.vector-icon9 {
  position: absolute;
  top: 514px;
  left: 20px;
  width: 512px;
  height: 34px;
}
.vector-icon9 {
  height: 83.33%;
  width: 66.67%;
  top: 8.33%;
  right: 16.67%;
  bottom: 8.33%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location-on-fill1-wght400-grad {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 73px;
  left: 427px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.more-vertical-icon1 {
  position: absolute;
  top: 31px;
  left: 512px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.demo-post {
  position: absolute;
  top: 0;
  left: 4px;
  width: 561px;
  height: 560px;
}
.location-on-fill1-wght400-grad1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 71px;
  left: 409px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.username3 {
  margin: 0;
  position: absolute;
  top: 23px;
  left: 120px;
  font-weight: 600;
}
.vector-icon13 {
  position: absolute;
  height: 83.33%;
  width: 83.39%;
  top: -8%;
  right: 21.26%;
  bottom: 24.67%;
  left: -4.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.message-text1,
.send1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.send1 {
  height: 74.26%;
  width: 5.88%;
  top: 25.74%;
  right: 75.68%;
  bottom: 0;
  left: 18.44%;
  overflow: hidden;
}
.message-text1 {
  top: 0;
  left: 46px;
  width: 30px;
  height: 30px;
}
.demo-post1,
.icons1 {
  position: absolute;
  top: 514px;
  left: 20px;
  width: 512px;
  height: 40.4px;
}
.demo-post1 {
  top: 602px;
  left: 4px;
  width: 561px;
  height: 560px;
}
.location-on-fill1-wght400-grad2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 64px;
  left: 409px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icons2,
.send2 {
  position: absolute;
}
.send2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 41.49%;
  width: 5.88%;
  top: 58.51%;
  right: 75.88%;
  bottom: 0;
  left: 18.24%;
  overflow: hidden;
}
.icons2 {
  top: 514px;
  left: 20px;
  width: 512px;
  height: 72.3px;
}
.demo-post-2-child,
.demo-post2 {
  position: absolute;
  top: 1204px;
  left: 4px;
  width: 561px;
  height: 586.3px;
}
.demo-post-2-child {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  height: 560px;
}
.send-icon {
  position: absolute;
  height: 88.24%;
  width: 5.88%;
  top: 11.76%;
  right: 76.46%;
  bottom: 0;
  left: 17.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.demo-post-2 {
  position: absolute;
  top: 1808px;
  left: 0;
  width: 561px;
  height: 560px;
}
.location-on-fill1-wght400-grad-icon,
.send-icon1 {
  position: absolute;
  top: 64px;
  left: 409px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.send-icon1 {
  height: 85.71%;
  width: 5.88%;
  top: 14.29%;
  right: 76.07%;
  bottom: 0;
  left: 18.05%;
  max-width: 100%;
  max-height: 100%;
}
.demo-post3,
.icons4 {
  position: absolute;
  top: 514px;
  left: 20px;
  width: 512px;
  height: 35px;
}
.demo-post3 {
  top: 2415px;
  left: 0;
  width: 561px;
  height: 560px;
}
.posts-section {
  top: 18px;
  left: 0;
  width: 565px;
  height: 2975px;
}
.k-likes,
.posts,
.posts-section {
  position: absolute;
}
.k-likes {
  margin: 0;
  height: 1.16%;
  top: 28.41%;
  left: calc(50% - 132.5px);
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 70px;
}
.posts {
  top: 575px;
  left: 435px;
  width: 567px;
  height: 1894px;
  overflow-y: auto;
  color: var(--color-cadetblue);
}
.suggestion-section-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray);
  width: 357px;
  height: 414px;
}
.suggestion-for-you {
  position: absolute;
  top: 31px;
  left: 27px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.demo-user-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray);
  backdrop-filter: blur(20px);
  width: 293px;
  height: 81px;
}
.demo-user-item {
  position: absolute;
  top: 12px;
  left: 11px;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  object-fit: cover;
}
.username7 {
  margin: 0;
  position: absolute;
  top: 16px;
  left: 80px;
  font-weight: 600;
}
.connect-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 54.5px;
  height: 18px;
}
.connect-icon,
.connect5 {
  position: absolute;
  top: 6.2px;
  left: 11.3px;
  width: 31.4px;
  height: 5.9px;
}
.connect5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 23px;
  left: 218px;
  width: 54.5px;
  height: 18px;
}
.demo-user,
.demo-user1,
.demo-user2 {
  position: absolute;
  top: 293px;
  left: 34px;
  width: 293px;
  height: 81px;
}
.demo-user1,
.demo-user2 {
  top: 192px;
}
.demo-user2 {
  top: 91px;
}
.see-all {
  position: absolute;
  top: 41px;
  left: 296px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray);
}
.suggestion-section {
  position: absolute;
  top: 1037px;
  left: 1037px;
  width: 357px;
  height: 414px;
}
.for-you {
  position: absolute;
  top: 531px;
  left: 443px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.friends-section-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray);
  width: 357px;
  height: 783px;
}
.friends {
  position: absolute;
  top: 27px;
  left: 19px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.demo-user3,
.demo-user4,
.demo-user5,
.demo-user6,
.demo-user7 {
  position: absolute;
  top: 486px;
  left: 29px;
  width: 293px;
  height: 81px;
}
.demo-user4,
.demo-user5,
.demo-user6,
.demo-user7 {
  top: 385px;
}
.demo-user5,
.demo-user6,
.demo-user7 {
  top: 284px;
}
.demo-user6,
.demo-user7 {
  top: 183px;
}
.demo-user7 {
  top: 82px;
}
.see-all1 {
  position: absolute;
  top: 35px;
  left: 264px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray);
}
.friends-section {
  position: absolute;
  top: 236px;
  left: 1042px;
  width: 357px;
  height: 783px;
}
.stories6,
.stories7 {
  border: 2px solid var(--color-lightgray);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 129px;
}
.stories7 {
  position: absolute;
  top: 0;
  left: 0;
  height: 218px;
}
.stories6 {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  left: 143px;
}
.stories4,
.stories5,
.stories6 {
  position: absolute;
  top: 0;
  height: 218px;
}
.stories5 {
  cursor: pointer;
  border: 2px solid var(--color-lightgray);
  padding: 0;
  background-color: transparent;
  left: 285px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 130px;
}
.stories4 {
  left: 428px;
}
.stories2,
.stories3,
.stories4 {
  cursor: pointer;
  border: 2px solid var(--color-lightgray);
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 129px;
}
.stories3 {
  position: absolute;
  top: 0;
  left: 571px;
  height: 218px;
}
.stories2 {
  left: 714px;
}
.stories-1,
.stories-section,
.stories2 {
  position: absolute;
  top: 0;
  height: 218px;
}
.stories-1 {
  cursor: pointer;
  border: 2px solid var(--color-lightgray);
  padding: 0;
  background-color: transparent;
  left: 857px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 129px;
}
.stories-section {
  left: 0;
  width: 986px;
}
.stories,
.stories1 {
  position: absolute;
  left: 444px;
}
.stories {
  top: 271px;
  width: 557px;
  height: 260px;
  overflow-x: auto;
  max-height: 272px;
}
.stories1 {
  top: 218px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.following-section-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray);
  width: 352px;
  height: 643px;
}
.following1 {
  position: absolute;
  top: 28px;
  left: 23px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
}
.demo-user10,
.demo-user11,
.demo-user12,
.demo-user8,
.demo-user9 {
  position: absolute;
  top: 486px;
  left: 23px;
  width: 293px;
  height: 81px;
}
.demo-user10,
.demo-user11,
.demo-user12,
.demo-user9 {
  top: 385px;
}
.demo-user10,
.demo-user11,
.demo-user12 {
  top: 284px;
}
.demo-user11,
.demo-user12 {
  top: 183px;
}
.demo-user12 {
  top: 82px;
}
.see-all2 {
  position: absolute;
  top: 34px;
  left: 271px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray);
}
.following-section {
  position: absolute;
  top: 380px;
  left: 47px;
  width: 352px;
  height: 643px;
}
.icon-section-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray);
  width: 355px;
  height: 66px;
}
.profile-icon7 {
  position: absolute;
  top: 18px;
  left: 290px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.bookmark-fill1-wght400-grad0-o5,
.vuesaxboldmessages-2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.bookmark-fill1-wght400-grad0-o5 {
  top: 18px;
  left: 120px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vuesaxboldmessages-2 {
  height: 45.45%;
  width: 8.45%;
  top: 27.27%;
  right: 81.69%;
  bottom: 27.27%;
  left: 9.86%;
}
.vector-icon22 {
  position: absolute;
  height: 80%;
  width: 62.33%;
  top: 10.33%;
  right: 19%;
  bottom: 9.67%;
  left: 18.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications-fill1-wght300-gr {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 18px;
  left: 205px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.icon-section,
.searchinput {
  position: absolute;
  top: 121px;
  left: 1036px;
  width: 355px;
  height: 66px;
}
.searchinput {
  border: 2px solid var(--color-darkslategray);
  outline: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 562px;
}
.vector-icon23 {
  position: absolute;
  height: 71.56%;
  width: 71.56%;
  top: 14%;
  right: 14.22%;
  bottom: 14.44%;
  left: 14.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-fill0-wght300-grad0-ops {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 494px;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.search-bar {
  position: absolute;
  top: 121px;
  left: 443px;
  width: 562px;
  height: 66px;
}
.fundrasing-section-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray);
  width: 352px;
  height: 237px;
}
.fundraising,
.samudaaye-is-a {
  position: absolute;
  top: 17px;
  left: 27px;
}
.samudaaye-is-a {
  top: 54px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-cadetblue);
  display: inline-block;
  width: 307px;
  height: 68px;
}
.fundraising-button-child {
  position: absolute;
  top: 43px;
  left: 26px;
  border-radius: var(--br-8xs);
  background-color: var(--color-cadetblue);
  width: 109.1px;
  height: 36px;
}
.fundraising-button-item {
  position: relative;
  width: 100px;
  height: 100px;
}
.fundraising-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 106px;
  left: 1px;
  width: 135.1px;
  height: 100px;
}
.fundrasing-section {
  position: absolute;
  top: 121px;
  left: 47px;
  width: 352px;
  height: 237px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkolivegreen);
}
.community-child,
.group-child14 {
  position: absolute;
  top: 61.5px;
  left: 658px;
  max-height: 100%;
  width: 66px;
}
.group-child14 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.a21,
.a22,
.a23,
.d7,
.e10,
.m6,
.s6,
.u5,
.y6 {
  position: absolute;
  top: 0;
  left: 10.97%;
  font-weight: 600;
  transform: rotate(79.52deg);
  transform-origin: 0 0;
}
.a21,
.a22,
.a23,
.d7,
.e10,
.m6,
.u5,
.y6 {
  top: 28.57%;
  left: 14.68%;
  transform: rotate(59.07deg);
}
.a22,
.a23,
.d7,
.e10,
.m6,
.u5,
.y6 {
  top: 52.78%;
  left: 22.68%;
  transform: rotate(37.49deg);
}
.a22,
.a23,
.d7,
.e10,
.u5,
.y6 {
  top: 70.63%;
  left: 35.87%;
  transform: rotate(17.04deg);
}
.a22,
.a23,
.d7,
.e10,
.y6 {
  top: 76.19%;
  left: 47.96%;
  transform: rotate(-2.27deg);
}
.a22,
.a23,
.e10,
.y6 {
  top: 72.62%;
  left: 61.71%;
  transform: rotate(-22.72deg);
}
.a23,
.e10,
.y6 {
  top: 58.73%;
  left: 74.16%;
  transform: rotate(-43.17deg);
}
.e10,
.y6 {
  top: 36.51%;
  left: 83.46%;
  transform: rotate(-62.48deg);
}
.e10 {
  top: 11.9%;
  left: 88.1%;
  transform: rotate(-80.66deg);
}
.group-parent2,
.group6 {
  position: absolute;
  height: 42%;
  width: 89.67%;
  top: 53.33%;
  right: 5.33%;
  bottom: 4.67%;
  left: 5%;
}
.group-parent2 {
  height: 2.41%;
  width: 4.17%;
  top: 0.4%;
  right: 94.44%;
  bottom: 97.18%;
  left: 1.39%;
  font-size: var(--font-size-8xs);
  color: var(--color-darkslategray);
}
.nav-bar-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--color-white);
  box-sizing: border-box;
}
.community5,
.donate3,
.home3,
.ngo3 {
  position: absolute;
  top: 39.24%;
  text-transform: capitalize;
}
.home3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 30.49%;
  font-size: var(--font-size-xl);
  font-family: var(--font-mulish);
  color: var(--color-khaki);
  text-align: left;
  display: inline-block;
}
.community5,
.donate3,
.ngo3 {
  left: 44.51%;
}
.donate3,
.ngo3 {
  left: 37.85%;
}
.donate3 {
  left: 55.35%;
}
.group-child15,
.profile-icon8 {
  position: absolute;
  height: 86.08%;
  width: 4.72%;
  top: 6.33%;
  right: 4.58%;
  bottom: 7.59%;
  left: 90.69%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child15 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nav-bar-inner1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 86.08%;
  width: 4.72%;
  top: 6.33%;
  right: 4.58%;
  bottom: 7.59%;
  left: 90.69%;
}
.what-we-do4 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.arrow-down-icon3 {
  position: absolute;
  height: 96%;
  width: 16.44%;
  top: 4%;
  right: 0;
  bottom: 0;
  left: 83.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.what-we-do-container {
  position: absolute;
  height: 31.65%;
  width: 10.14%;
  top: 39.24%;
  right: 26.32%;
  bottom: 29.11%;
  left: 63.54%;
}
.line-div,
.nav-bar4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.line-div {
  height: 3.8%;
  width: 3.61%;
  top: 79.11%;
  right: 50.03%;
  bottom: 17.09%;
  left: 46.35%;
  border-top: 3px solid var(--color-khaki);
  box-sizing: border-box;
}
.group-icon1 {
  position: absolute;
  height: 77.97%;
  width: 4.28%;
  top: 10.13%;
  right: 94.96%;
  bottom: 11.9%;
  left: 0.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-section-inner,
.nav-bar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  width: 1440px;
}
.nav-bar3 {
  height: 79px;
  color: var(--color-khaki);
}
.footer-section-inner {
  height: 328px;
}
.samudaaye5 {
  position: absolute;
  top: 51px;
  left: 130px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
}
.a24,
.s7 {
  color: var(--color-white);
}
.s7 {
  position: absolute;
  top: 0;
  left: 8.5px;
  font-weight: 600;
  transform: rotate(58.12deg);
  transform-origin: 0 0;
}
.a24 {
  top: 7.6px;
  left: 13.7px;
  transform: rotate(43.42deg);
}
.a24,
.a25,
.a26,
.d8,
.e11,
.m7,
.u6,
.y7 {
  position: absolute;
  font-weight: 600;
  transform-origin: 0 0;
}
.m7 {
  top: 12.9px;
  left: 19.8px;
  color: var(--color-white);
  transform: rotate(27.31deg);
}
.a25,
.a26,
.d8,
.e11,
.u6,
.y7 {
  top: 17.4px;
  left: 29.8px;
  transform: rotate(11.2deg);
}
.a25,
.a26,
.d8,
.e11,
.y7 {
  top: 18.6px;
  left: 38px;
  transform: rotate(-2.8deg);
}
.a25,
.a26,
.e11,
.y7 {
  top: 17.8px;
  left: 46.3px;
  transform: rotate(-16.81deg);
}
.a26,
.e11,
.y7 {
  top: 15px;
  left: 54.1px;
  transform: rotate(-30.81deg);
}
.e11,
.y7 {
  top: 10.5px;
  left: 61px;
  transform: rotate(-44.82deg);
}
.e11 {
  top: 4.3px;
  left: 66.6px;
  transform: rotate(-58.82deg);
}
.group-child17,
.group7 {
  position: absolute;
  top: 54px;
  left: 5px;
  width: 77.7px;
  height: 28.6px;
}
.group-child17 {
  top: 0;
  left: 0;
  width: 87px;
  height: 87px;
  object-fit: cover;
}
.a27,
.m8,
.s8 {
  position: absolute;
  top: 0;
  left: 8.5px;
  font-weight: 600;
  transform: rotate(58.12deg);
  transform-origin: 0 0;
}
.a27,
.m8 {
  top: 7.6px;
  left: 13.7px;
  transform: rotate(43.42deg);
}
.m8 {
  top: 12.9px;
  left: 19.8px;
  transform: rotate(27.31deg);
}
.group-parent3,
.samudaaye-logo-footer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 87px;
  height: 87px;
}
.samudaaye-logo-footer2 {
  top: 37px;
  left: 29px;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslategray);
}
.samudaaye-2023-all2 {
  position: absolute;
  top: 270px;
  left: calc(50% - 126px);
  font-weight: 500;
}
.vector-icon24 {
  position: absolute;
  height: 99.33%;
  width: 28.03%;
  top: 0;
  right: 0;
  bottom: 0.67%;
  left: 71.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.insta-icon2,
.layer1-icon2 {
  position: absolute;
  top: 3.2px;
  left: 36.1px;
  width: 26.8px;
  height: 26.8px;
}
.layer1-icon2 {
  height: 83.33%;
  width: 23.42%;
  top: 13.33%;
  right: 76.58%;
  bottom: 3.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-container {
  position: absolute;
  height: 9.15%;
  width: 7.38%;
  top: 53.35%;
  right: 83.59%;
  bottom: 37.5%;
  left: 9.03%;
}
.policy2 {
  position: absolute;
  top: 40px;
  left: 593px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.privacy-policy2,
.support2,
.terms-of-use2 {
  position: absolute;
  top: 97px;
  left: 593px;
}
.support2,
.terms-of-use2 {
  top: 138px;
}
.support2 {
  top: 37px;
  left: 777px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.about-us2,
.contact-us2,
.faqs2 {
  position: absolute;
  top: 94px;
  left: 777px;
}
.about-us2,
.contact-us2 {
  top: 135px;
}
.contact-us2 {
  top: 37px;
  left: 1121px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.a30,
.supportsamudaayein2 {
  text-decoration: none;
  position: absolute;
  top: 135px;
  left: 1152px;
  color: inherit;
}
.a30 {
  top: 91px;
}
.call-icon2,
.sms-icon2 {
  position: absolute;
  top: 89px;
  left: 1121px;
  width: 26px;
  height: 26px;
}
.sms-icon2 {
  top: 135px;
  height: 24px;
}
.follow-us2 {
  position: absolute;
  top: 139px;
  left: 127px;
  font-weight: 600;
}
.footer-section2 {
  position: absolute;
  top: 2162px;
  left: 0;
  width: 1440px;
  height: 328px;
  color: var(--color-white);
}
.community4 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 2486px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-mulish);
}
